<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="first_name" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input class="form-control" id="disabledInput" type="text" placeholder="{{user.first_name}}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="last_name" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
      <input class="form-control" id="disabledInput" type="text" placeholder="{{user.last_name}}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input class="form-control" id="disabledInput" type="text" placeholder="{{user.email}}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="phone" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-10">
      <input class="form-control" id="disabledInput" type="text" placeholder="{{user.phone}}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <input class="form-control" id="disabledInput" type="text" placeholder="{{user.address}}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="city" class="col-sm-2 control-label">City</label>
    <div class="col-sm-10">
      <input class="form-control" id="disabledInput" type="text" placeholder="{{user.city}}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="state" class="col-sm-2 control-label">State</label>
    <div class="col-sm-10">
      <input class="form-control" id="disabledInput" type="text" placeholder="{{user.state}}" disabled>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a href="#/dashboard" class="btn btn-primary">Back</a>
    </div>
  </div>
</form>